Question-No.1

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
df.head(1)

    course_name  duration
0  Data Science         2

Question-No.2

These are the difference between 'loc' and 'iloc' function in pandas-

loc[]:

This function is used for label-based indexing. It allows you to access rows and columns using their labels (i.e., index labels and column names).
The syntax is df.loc[row_label, column_label].

iloc[]:
This function is used for integer-based indexing. It allows you to access rows and columns using their integer positions.
The syntax is df.iloc[row_index, column_index].
for example-

In [15]:
import pandas as pd 
d = {'key1':[3,4,5,7,9],
     'key2':[6,5,4,3,2],
     'key3':[9,6,5,7,8]
}

data = pd.DataFrame(d)
data

   key1  key2  key3
0     3     6     9
1     4     5     6
2     5     4     5
3     7     3     7
4     9     2     8

In [16]:
# This is loc fuction
data.loc[3,'key1']

7

In [19]:
# This is iloc function
data.iloc[0,0]

3

Question-No.3

In [7]:
import pandas as pd
data = {'A': [10, 20, 30, 40], 'B': [100, 200, 300, 400],'C':[500,600,700,800]}
df = pd.DataFrame(data)

In [8]:
df

    A    B    C
0  10  100  500
1  20  200  600
2  30  300  700
3  40  400  800

Renindexing of the dataframe-

In [10]:
new_df = df.reindex([3,0,1,2])

In [11]:
new_df

    A    B    C
3  40  400  800
0  10  100  500
1  20  200  600
2  30  300  700

output for both new_df.loc[2] and new_df.iloc[2]--

In [12]:
new_df.loc[2]

A     30
B    300
C    700
Name: 2, dtype: int64

In [13]:
new_df.iloc[2]

A     20
B    200
C    600
Name: 1, dtype: int64

Here we can see that the output of both the function will different to each other --

new_df.loc[2]--this function will get the data by the lables of rows and column while

new_df.iloc[2]-- will get the data by their indexing of rows and column.

Question-No.4

In [20]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [21]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.444129  0.996014  0.858123  0.349208  0.317218  0.833422
2  0.948465  0.369006  0.589020  0.901267  0.494153  0.463497
3  0.666506  0.524697  0.646207  0.740738  0.840336  0.775108
4  0.113167  0.377671  0.996979  0.352221  0.678384  0.096616
5  0.786161  0.782552  0.955391  0.990203  0.896372  0.429903
6  0.398218  0.918631  0.913928  0.345954  0.088013  0.696833

1-mean of each and every column present in the dataframe.

In [23]:
df1.mean()

column_1    0.559441
column_2    0.661428
column_3    0.826608
column_4    0.613265
column_5    0.552413
column_6    0.549230
dtype: float64

2-standard deviation of column, ‘column_2’

In [28]:
df1['column_2'].std()

0.27477124715827517

Question-No.5

In [34]:
# Replace string by using loc function
df1.loc[2, 'column_2'] = 'kuldeep_singh'

In [38]:
df1.at[4,'column_4'] = 'karan_chauhan'

In [39]:
df1

   column_1       column_2  column_3       column_4  column_5  column_6
1  0.444129       0.996014  0.858123       0.349208  0.317218  0.833422
2  0.948465  kuldeep_singh  0.589020  karan_chauhan  0.494153  0.463497
3  0.666506       0.524697  0.646207       0.740738  0.840336  0.775108
4  0.113167       0.377671  0.996979  karan_chauhan  0.678384  0.096616
5  0.786161       0.782552  0.955391       0.990203  0.896372  0.429903
6  0.398218       0.918631  0.913928       0.345954  0.088013  0.696833

In [40]:
mean_column_2 = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

If we take mean of the column after adding a string in column then it will raise an error this error will occurs because we cant not add a string into a int values. Mean is only possible when we have only integer type data,

Question-No.6

In pandas, a window function (also known as a rolling or moving function) is a function that operates on a specified window of data points within a series or DataFrame. It allows you to perform various calculations on a sliding window of data, which is useful for tasks like time series analysis, smoothing, and aggregations over specific intervals. Window functions are often used to calculate rolling statistics or apply custom operations to subsets of data

Here are some common types of window functions available in pandas:-
1-Simple Moving Average (SMA)
2-Exponential Moving Average (EMA)
3-Cumulative Sum (Cumsum)
4-Cumulative Maximum (Cummax)
5-Rolling Sum (rolling().sum())

In [49]:
import pandas as pd

# Create a sample DataFrame
data = {'values': [10, 15, 20, 25, 30, 35, 40]}
df = pd.DataFrame(data)
print(df)

# Calculate the rolling mean using a window size of 3
rolling_mean = df['values'].rolling(window=3).mean()

print('\n \n',rolling_mean)

rolling = df['values'].cumsum
print('\n', rolling)

   values
0      10
1      15
2      20
3      25
4      30
5      35
6      40


 0     NaN
1     NaN
2    15.0
3    20.0
4    25.0
5    30.0
6    35.0
Name: values, dtype: float64

 <bound method NDFrame._add_numeric_operations.<locals>.cumsum of 0    10
1    15
2    20
3    25
4    30
5    35
6    40
Name: values, dtype: int64>

Question-no.7

In [50]:
import pandas as pd

# Get the current date as a Pandas Timestamp object
current_date = pd.Timestamp.now()

# Print the current month and year
print("Current Month:", current_date.strftime('%B'))
print("Current Year:", current_date.year)

Current Month: August
Current Year: 2023